<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasm yuklash</title>
</head>
<body>

    <h2>Dorilarni kiritish</h2>
    
    <form action="{% url 'medicine-create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="name">Nomi:</label>
        <input type="text" name="name" required><br><br>

        <label for="brand">Brendi:</label>
        <input type="text" name="brand" required><br><br>

        <label for="price">Narxi:</label>
        <input type="number" step="0.01" name="price" required><br><br>

        <label for="expiration_date">Yaroqlilik muddati:</label>
        <input type="date" name="expiration_date" required><br><br>

        <label for="dosage">Doza:</label>
        <input type="number" name="dosage" required><br><br>

        <label for="quantity">Miqdor:</label>
        <input type="number" name="quantity" required><br><br>

        <label for="usage_instructions">Qo‘llash bo‘yicha ko‘rsatma:</label>
        <textarea name="usage_instructions" required></textarea><br><br>

        <label for="side_effects">Nojo‘ya ta’sirlar:</label>
        <textarea name="side_effects" required></textarea><br><br>

        <label for="storage_conditions">Saqlash sharoiti:</label>
        <textarea name="storage_conditions" required></textarea><br><br>

        <label for="image">Rasm yuklash:</label>
        <input type="file" name="image" accept="image/*" required><br><br>

        <button type="submit">Yuborish</button>
    </form>

</body>
</html>
